@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    transition: all .2s;
}

body, ul, p, h1 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
    font-family: Inter, Roboto, sans-serif;
    background: #0A192F;
    position: relative;
}